<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap.ejs')%> <%-include('./partials/header.ejs')%>
  <body>
    <%-include('./partials/nav2.ejs')%>
    <div class="create-user">
        <form action="/resetdata/<%=user.name%>" method="POST">
          <h4>Reset Your Data</h4>
         <ul>
          <li><label for="aadhar">New Aadhar</label></li>
          <input type="text" id="aadhar" name="aadhar" value="<%=user.aadhar%>" required />
          <li><label for="email">New Email</label></li>
          <input type="email" id="email" name="email" value="<%=user.email%>" required />
          <li><label for="name">New Name</label></li>
          <input type="date" id="dob" name="dob" value="<%=user.dob%>" required />
          <li><label for="dob">Phone Number</label></li>
          <input type="text" id="pno" name="pno" value="<%=user.pno%>" required />
          <li><label for="state">State</label></li>
          <input type="text" id="state" name="state" value="<%=user.state%>" required />
            <button>Reset</button>
          </ul>
        </form>
  </body>
</html>
